$cream-green:#f1f8f6;
$light-green:#d4e9e2;
$drak-green:#008248;
$black: black;


$num-of-tabs: 5;

@mixin tabs {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~ .slide {
                left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
             }
            }
        }
    }
}

body {
    width: 100%;
    margin: 0;
}

label, p, a, h2, div {
    font-family: Roboto, sans-serif;
}

.container_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $cream-green;
    h2{
        font-size: 1.5em;
        font-weight: bold;
    }
}

.tab-wrap {
    background-color: $cream-green;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    &:checked {
        + .tab-label-content {
            label {
                color: $black;
            }
            .tab-content {
                background-color: $light-green;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 300px;
                padding: 20px;
                margin: auto;
                left: -20px;
                animation-name: FadeIn;
                animation-duration: 0.5s;
                transition-timing-function: linear;
                @keyframes FadeIn {
                    0% {
                    opacity: 0.5;
                    }
                    100% {
                    opacity: 1;
                    }
                }
                &__image{
                    min-width: 50%;
                    max-width: 50%;
                    img{
                        width: 100%;
                    }
                }
                &__full{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
    @include tabs;
        &:first-of-type {
        &:checked {
        ~ .slide {
                left: 0;
            }
        }
    }
}







label {
    cursor: pointer;
    color: $black;
    background-color: $cream-green;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 56px;
    transition: color 0.5s ease;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 1em;
    img{
        width: 12px;
        height: auto;
    }
}

.slide {
    background: $drak-green;
    width: calc(100% / #{$num-of-tabs});
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.5s ease-out;
}

.tab-label-content {
    width: 100%;
    .tab-content {
        position: absolute;
        /*top: 100px;*/
        left: 0px;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        padding: 40px 0 90px 10%;
    }
    .tab-wrap {
        width: 80%;
        /*margin-left: 10%;
        top: -106px;*/
    }
}